<html>
<head>
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <link href="/styles.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width">
  <title>Hoon School</title>
</head>
<body>
  <main>
    <section class="mt7 full half-1-md c1-6-lg">
      <p class="fw6 mt0">Hoon School</p>
      <p>Hoon is a strictly typed functional programming language that compiles itself to <a href="https://urbit.org/docs/tutorials/nock/definition/">Nock</a> (Urbit's low-level homoiconic combinator language) and is designed to support higher-order functional programming without requiring knowledge of category theory or other advanced mathematics.</p>

      <p>Hoon School exists so you can have fun with others learning Hoon.</p>

      <p>Students who finish a season's curriculum will receive the following:<br/>
        -> A planet to develop on Urbit<br/>
        -> A special and very limited piece of Urbit merch</p>
      </section>
      <h2 class="fw6 f7 full mt9 mb7">Active Sessions</h2>
      <section class="full flex flex-wrap flex-row">
        {% set sessions = get_section(path="sessions/_index.md") %}
        {% for session in sessions.pages %}
        <a class="dib bn" href="{{session.permalink}}">
        <div class="dib flex flex-column mr8 mb6" style="max-width: 656px;">
          {% if session.extra.image %}
          <img src="{{session.extra.image}}" class="w-100 ba"/>
          {% endif %}
        <div class="w-100">
          <p class="dib mv2">{{session.title}}</p>
          {% if session.extra.session %}
          <p class="dib ml1 mv2" style="color: #808080;">Session {{session.extra.session}}</p>
          {% endif %}
        </div>
        {% if session.extra.difficulty %}
        <div class="w-100">
          <p class="dib mt0 mb2 f9 br2 bg-gray5 mono" style="padding: 2px 4px;">{{session.extra.difficulty}}</p>
        </div>
        {% endif %}
        <p class="w-100 mv0" style="color: #808080;">{{session.description}}</p>
        </div>
        </a>
        {% endfor %}
      </section>

      <h2 class="fw6 f7 full mt9">Example Projects</h2>
      <p class="full mt0 mb7">If you prefer to learn at your own pace, try some of these self-contained projects.</p>
      <section class="full flex flex-wrap flex-row">
        {% for project in config.extra.projects %}
        <a class="dib bn" href="{{project.link}}">
          <div class="dib flex flex-column mr8 mb6" style="max-width: 296px;">
            {% if project.image %}
            <img src="{{project.image}}" class="w-100 ba" />
            {% endif %}
            <div class="w-100">
              <p class="dib mv2">{{project.name}}</p>
            </div>
            {% if project.difficulty %}
            <div class="w-100">
              <p class="dib mt0 mb2 f9 br2 bg-gray5 mono" style="padding: 2px 4px;">{{project.difficulty}}</p>
            </div>
            {% endif %}
            <p class="w-100 mv0" style="color: #808080;">{{project.description}}</p>
          </div>
        </a>
        {% endfor %}
      </section>
      <h2 class="fw6 f7 full mt9">Video</h2>
      <p class="full half-1-md half-1-lg mt0 mb7">The following videos are lectures, isolated tutorials, and other related content that explain Hoon in a non-structured manner.</p>
      <section class="full flex flex-wrap flex-row">
        {% set videos = get_section(path="video/_index.md") %}
        {% for video in videos.pages %}
        <a class="dib bn" href="{{video.permalink}}">
          <div class="dib flex flex-column mr8 mb6" style="max-width: 296px;">
            {% if video.extra.image %}
            <img src="{{video.extra.image}}" class="w-100 ba" />
            {% endif %}
            <div class="w-100">
              <p class="dib mv2">{{video.title}}</p>
            </div>
            <p class="w-100 mv0" style="color: #808080;">{{video.description}}</p>
          </div>
        </a>
        {% endfor %}
      </section>
      <h2 class="fw6 f7 full mt9">Hoon Documentation</h2>
      <p class="mt0 full half-1-md half-1-lg">To learn more about Hoon, or to dive deeper into how the language is implemented, check out <a href="https://urbit.org/docs/glossary/hoon/">Hoon's documentation</a>.</p>
      <footer class="mt8 mb4 full">
        <a href="https://urbit.org/privacy">Privacy Policy</a><a class="ml4" href="https://urbit.org/terms-of-use/">Terms of
          Service</a>
        </footer>
      </main>
    </body>
    </html>
